@keyframes anime-blink {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

@keyframes anime-spin {
    100%{
        transform: rotate(360deg);
    }
}

@keyframes anime-flip {
    50%{
        transform: scaleX(-1);
    }
}