:root,
:before,
:after {
    --primary: #{$color-primary};
    --secondary: #{$color-secondary};
    ::selection {
        background: var(--primary);
        color: var(--secondary);
    }
}

.uk-light{
    background: $inverse-badge-background;
    .uk-background-default,
    .uk-card-default{
        background: $inverse-badge-background;
    }
    .uk-card-default .uk-card-title:not(.uk-preserve){
        color: var(--primary);
    }
    .uk-light-primary:not(.uk-preserve){
        color: var(--secondary) !important;
    }
    .uk-light-secondary:not(.uk-preserve){
        color: var(--primary) !important;
    }

    // uk preserve 
    
    .uk-card-default .uk-card-title.uk-preserve{
        color: var(--secondary);
    }
    .uk-light-primary.uk-preserve{
        color: var(--primary) !important;
    }
    .uk-light-secondary.uk-preserve{
        color: var(--secondary) !important;
    }
}

.uk-light,
.uk-light :after{
    --primary: #{$color-secondary};
    --secondary:  #{$color-primary};
    ::selection {
        background: var(--primary);
        color: var(--secondary);
    }
}

.uk-preserve{
    --primary: #{$color-primary} !important;
    --secondary: #{$color-secondary} !important;
}

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

@media #{$medium-and-down} {
    html {
        font-size: pxToRem(14);
    }

    .uk-h3,
    h3 {
        font-size: 1.6em;
    }
    .uk-h5,
    h5,
    .uk-badge,
    .uk-button {
        font-size: pxToRem(16);
    }
}

a {
    &> .uk-icon path {
        transition: fill 0.3s;
    }
    &:hover {
        filter: grayscale(1);
        &> .uk-icon path {
            fill: gray;
        }
    }
}
.uk-button {
    border-color: var(--primary);
    padding: 12px 43px;
}
.uk-badge {
    border: 1px solid;
    line-height: 1;
    height: auto;
    @extend .font-secondary;
    display: inline-block;
    margin: 15px;
}

.font-secondary {
    font-family: $second-font-family;
}

.pointer-events-none {
    pointer-events: none;
}
.image {
    position: relative;

    [uk-icon="icon: circle-btn"] {
        padding: 0;
        position: absolute;
        top: 30%;
        left: -6%;
    }
}

.absolute-bottom-righted {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(50%) translateY(50%);
    padding: 0;
}

.a-link {
    display: inline-block;
    transition: transform 0.3s;
    &:hover {
        transform: skewX(-20deg);
    }
}

body {
    &:not(.page-loaded) {
        & > * {
            &:not(.preloader) {
                opacity: 0;
            }
        }
    }
    & > *:not(.preloader) {
        position: relative;
        z-index: 0;
    }
}

.slick-dir-rtl {
    transform: scaleX(-1);
    .slick-slide {
        transform: scaleX(-1);
    }
}

.shadow-0 {
    box-shadow: none;
}
