.uk-light {
	.top-bar {
		.uk-text-secondary {
			color: var(--primary) !important;
		}
	}
	.color-sec {
		filter: grayscale(1);
	}
}

.pacman-strip {
	max-width: 100vw;
	overflow: hidden;
	.pacman,
	.catcher {
		position: relative;
		display: flex;
		align-items: center;
		&::after {
			content: "";
			display: inline-block;
			padding: 4px;
			background: var(--primary);
			margin-right: -2px;
			margin-left: 84px;
			margin-right: 98px;
		}
		.wrap,
		img {
			width: 68px;
		}

		@media #{$medium-and-down} {
			.wrap,
			img {
				width: 45px;
			}
			&::after {
				margin-left: 66px;
				margin-right: 40px;
			}
		}
	}
}

.scrolling-wrapper {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	overflow-x: auto;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.counter-initialize {
	counter-reset: sl-no;
	.sl-no:before {
		counter-increment: sl-no;
		content: counters(sl-no, ".", decimal-leading-zero) ".";
	}
}

section {
	max-width: 100vw;
	overflow: hidden;
}

.scrollToTop {
	.flip-on-scrolltop {
		transform: scaleX(-1);
		& > div {
			transform: scaleX(-1);
			img {
				transform: scaleX(-1);
			}
		}
	}
}

.blogs {
	.uk-card-body {
		@media #{$medium-and-down} {
			padding: 30px 0 15px;
		}
	}
}

.profile {
	.image {
		@media #{$medium-and-down} {
			margin: 80px auto 0;
		}
		[uk-img] {
			transform: rotate(12deg);
		}
	}
}
