$color-primary: #FF5520;
$color-secondary: #fff;
$color-background: #D0D0D0;
$color-beige: #F5F5F5;
$color-dark: $color-primary;
$color-darker: #161616;
$color-darkest: #000;
$blue: #835DEE;


//
// Colors
//

$global-color:                                   $color-primary;
$global-emphasis-color:                          $color-primary;
$global-muted-color:                             $color-primary;

$global-link-color:                              $color-primary;
$global-link-hover-color:                        darken($color-primary, 10%);
$global-primary-background:                      $color-primary;

//
// Inverse
//

$global-inverse-color: #fff;
$inverse-global-color: $global-inverse-color;
$inverse-global-muted-color: rgba($global-inverse-color, 0.6);

//
// Backgrounds
//

$global-background:                              $color-background;

$global-primary-background:                      $color-primary;
$global-secondary-background:                    $color-secondary;

$global-success-background:                      #32d296;
$global-warning-background:                      #faa05a;
$global-danger-background:                       #f0506e;


//
// Container
//

$container-max-width: 1275px;
$global-medium-gutter: 30px;

//
// Borders
//

$global-border-width:                            1px;

$theme-border-radius: 10px;

//
// Base
//

$global-font-family: '8_bit_1_6';
$base-body-font-weight: 400;
$global-body-font-size: 1.25rem; //20px
$global-line-height: 1.725;
$base-body-background : $color-background;

$second-font-family: 'Sporting Grotesque';
// $global-font-size: 1.25rem; //20px
$base-margin-vertical: 8px;
$margin-margin: 30px;
// $font-size-small: 0.875;
$base-link-hover-text-decoration: none;


//
// Heading
//
// $base-heading-font-family: $head-font-family;
$base-heading-font-weight: 500;
$heading-small-font-size-m: pxToRem(55);
$heading-small-line-height: 1;
$base-heading-margin-top: 0;

$base-h1-font-size-m: pxToRem(48);
$base-h2-font-size-m: pxToRem(43);
$base-h3-font-size: pxToRem(32);